//css variables



//scss variables 
$font-Open: 'Open Sans', sans-serif;
$font-Raleway: 'Raleway', sans-serif;
$font-Roboto: 'Roboto', sans-serif;
$yellow: #ffcc00;
$grey: #666666;
$black: #000;