.header {
    text-align: center;
    text-transform: uppercase;
    margin-top: 120px;


    &__subtitle {
        letter-spacing: 0.36px;
        color: #898f8f;
        font: 500 18px $font-Raleway;
        margin-bottom: 10px;
    }

    &__title {
        font: 60px $font-Roboto;
        color: $yellow;
        margin-bottom: 40px;
    }
}

.icon-bonfire-sharp {
    font-size: 17px;
}

.bonfire-sharp__border {
    color: $yellow;
    position: relative;
    margin-bottom: 40px;
    padding: 0 15px;

    &::before, &::after {
        @include size(210px, 1px);
        @include pos($t: 45%);

        content: '';
        background: $yellow;
        margin: 0 15px;
    }

    &::before {
        left: 50%;
    }

    &::after {
        right: 50%;
    }
}